<footer class="page-footer font-small bg-warning pt-4">

    <div class="container">

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white">Redes sociais:</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="social-network">
                <li>
                    <a href="https://www.facebook.com/caroline.miranda.77/" target="_blank" class="icoFacebook">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    
                </li>

                <li>
                    <a href="https://www.instagram.com/devcarolinemiranda/" target="_blank" class="icoInstagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i></a>
                    
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/caroline-miranda-374738148/" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    
                </li>

                <li>
                    <a href="https://github.com/carol-mira" target="_blank" class="icoGitHub">
                        <i class="fa fa-github" aria-hidden="true"></i></a>
                    
                </li>

            </ul>

        </div>
    </div>
 </div>

 <div class="footer-copyright bg-dark text-center py-3">
<span class="text-white"> Caroline Miranda ©2021 </span>
 </div>
</footer>
